@import url('./css/upload.css');
@import url('./css/view.css');
@import url('./css/users.css');
@import url('./css/projects.css');

.App {
  text-align: center;
}

.navbar-default .navbar-brand {
  list-style: none;
}

.navbar-default .navbar-brand a {
  color: black;
  font-size: 1.2em;
}